body { padding-bottom: 20px; }
html, button, input, select, textarea,
.pure-g [class *= "pure-u"] { font-family: 'Open Sans', sans-serif; }
h1,h2,h3,h4,h5,h6 { font-family: 'Raleway', sans-serif; }
a { color: #18f; text-decoration: none;}
.pure-menu a, .pure-menu .pure-menu-can-have-children>li:after { color: #333; }
.pure-menu li a { padding: 5px 12px; }


#logo { font-weight:200; color: #18f; }
#logo em { color: #cc2211; font-style: normal;}


input.search, input.agency { width: 450px; }
textarea.request { width: 450px; height: 100px; }
input.upto { width: 80px; }
span.fee-amount { font-weight: bold; }

.pure-menu .pure-menu-selected a { border-bottom: 0.3em solid #333;}

.content {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1em;
  padding-right: 1em;
  max-width: 768px;
}

/* todo: error/success states still need styling */

/* error message next to submit button */
div.request.error {
  display: none; padding: 10px 0;
  font-weight: bold; color: #f00;
}

/* success message area, replaces request form upon success */
section.request.success {
  display: none;
}

#tracking-number {font-weight: bold;}
#requester-email {font-weight: bold;}
