/* extremely minimal placeholder stuff */

body {padding: 0 30px;}

input.search, input.agency {width: 450px;}
textarea.request {width: 450px; height: 100px;}
input.upto {width: 80px;}
img.logo {width: 100px; height: 100px;}