<!doctype html>
<html>
<head>
  <title>FOIA.gov > Freedom of Information Act</title>

  <meta charset='utf-8'>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="/assets/css/pure-min-0.5.0.css" />
  <link rel="stylesheet" href="/assets/css/main.css?{{ site.time | date: "%Y%m%j%H%M%S" }}" />
</head>
<body>

<nav class="pure-menu pure-menu-open pure-menu-horizontal">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/request">Request</a></li>
    <li><a href="/learn">What is FOIA?</a></li>
  </ul>
</nav>

<header>
  <h1>alpha.<strong>foia</strong>.gov</h1>
</header>

{{ content }}

</body>
</html>
